html {
  background: #fff;
}

.backfaceVisibility {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.absoluteFit {
	/*background-color: red;*/
	white-space: pre;
}

.hide {
	visibility: hidden;
	white-space: pre;
}
